<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forthcode.customerapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookShop"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".productdetails.presentation.ProductDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".home.presentation.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.AppTheme.NoActionBar" />
        <activity
            android:name=".signup.presentation.SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.AppTheme.FullScreen" />
        <activity
            android:name=".login.presentation.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>